.table-responsive {
    height: 500px;
    width: 100%;
    overflow: scroll;
}

thead tr:nth-child(1) th {
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.downArrow {
    width: 0;
    height: 10;
    border: 10px 5px 0px 5px;
    cursor: pointer;
    position: relative;
    top: 16px;
    left: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-top: 50px;
    color: rgb(183, 233, 248);
}